nav {
    background-color: #333;
    padding: 10px;
    flex: 1;
  }
  
  nav:not(:last-child) {
    margin-right: 10px;
}

  nav a {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold;
  }
  
  nav:hover {
      background-color: #b61e32;
      cursor: pointer;
  }

  .nav-container {
    display: flex;
    width: 100%;
}